body {
    background: black;

}
header {
    background-color: black;
}
.BANNER {
    width: 100%;
}
.img-beneficios {
        width: 50%;
        
}

h1 {
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    font-size: 60px;
}

h2,h3{
    text-align: center;
}


p {
    text-align: center;
    font-size: 20px;
}

em strong {
    color:red;
}

footer {
    text-align: center;
    background: url(img/bg.jpg);
    color: white;
}
.itens {
    display: inline-block;
    vertical-align: top;
    font-style: italic;
    width: 20px;
    margin-right: 15%;
}

.lista{
    background-color: white;
}

.principal {
    background-color: black;
    padding: 20px;
    color: white;
}
/** Loja Alura **/

nav {
    position: absolute;
    top: 50px;
    right: 0;
    padding-right: 20px;
}
nav li {
  display: inline;
  margin: 0 0 0 15px;
}

nav a {
   text-transform: uppercase;
   color: white;
   font-weight: bold;
   font-size: 22px;
   text-decoration: none;
}

nav a:hover{
  color: #c78c19;
  text-decoration: underline;
}